[submodule "third_party/CUE4Parse"]
	path = third_party/CUE4Parse
	url = https://github.com/FabianFG/CUE4Parse
[submodule "third_party/UnrealMappingsDumper"]
	path = third_party/UnrealMappingsDumper
	url = https://github.com/TheNaeem/UnrealMappingsDumper
[submodule "third_party/minhook"]
	path = third_party/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "third_party/RE-UE4SS"]
	path = third_party/RE-UE4SS
	url = https://github.com/UE4SS-RE/RE-UE4SS.git
